<div id="modal-post-detail">
  <div id="post-detail-container">
    <h2 id="post-detail-title"></h2>
    <div id="post-detail-name"></div>
    <p id="post-detail-content"></p>
  </div>
  <div id="detail-action-button-container">
    <button id="post-modify-button" class="btn">수정</button>
    <button id="post-delete-button" class="btn">삭제</button>
  </div>
  <div id="verify-modal">
    <p>비밀번호를 입력하세요</p>
    <input id="verify-password" type="password" maxlength="4" placeholder="비밀번호">
    <div id="verify-buttons">
      <button id="verify-cancel-button" class="btn">닫기</button>
      <button id="verify-action-button" class="btn">확인</button>
    </div>
  </div>
</div>