<div id="modal-post-write">
  <form id="write-form" method="POST">
    <div class="form-input-container">
      <input id="form-post-title" name="title" type="text" placeholder="제목">
      <textarea id="form-post-content" name="content" rows="10"  placeholder="내용"></textarea>
      <div class="form-input-guest">
        <input id="form-post-name" name="name" type="text" placeholder="이름">
        <input id="form-post-password" name="password" type="password" maxlength="4" placeholder="비밀번호">
      </div>
      <div class="post-write-button-container">
        <button type="button" id="post-write-button" class="btn">작성</button>
      </div>
    </div>
  </form>
</div>