<div id="modal-background">
  <div id="modal-container">
    <div class="modal-close-button-container">
      <button id="modal-close-button">
        <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12Z" stroke="#000000" stroke-width="2"/>
          <path d="M9 9L15 15M15 9L9 15" stroke="#000000" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </button>
    </div>
    <%- include('modals/postForm'); %>
    <%- include('modals/detail'); %>
  </div>
</div>

<script>
  const modalBg = document.querySelector('#modal-background');
  const closeModalBtn = document.querySelector('#modal-close-button');
  const writeFormContainer = document.querySelector('#modal-post-write');
  const writeForm = document.querySelector('#write-form');
  const postWriteBtn = document.querySelector('#post-write-button');
  const modalPostDetail = document.querySelector('#modal-post-detail');
  const postDetailContainer = document.querySelector('#post-detail-container');
  const detailActionBtnCotnainer = document.querySelector('#detail-action-button-container');
  const verifyModal = document.querySelector('#verify-modal');
  const verifyPassword = document.querySelector('#verify-password');
  const verifyCancelBtn = document.querySelector('#verify-cancel-button');
  const verifyActionBtn = document.querySelector('#verify-action-button');

  const clearForm = () => {
    writeFormContainer.style.display = 'none';
    for(item of writeForm.elements)
      item.value = '';
  };

  const clearDetail = () => {
    modalPostDetail.style.display = 'none';
    for(item of postDetailContainer.children)
      item.innerText = '';
  }

  const clearVerifyModal = () => {
    verifyModal.style.display = 'none';
    verifyPassword.value = '';
  }

  closeModalBtn.addEventListener('click', () => {
    modalBg.style.display = 'none';
    clearForm();
    clearDetail();
    clearVerifyModal();
  });

  postWriteBtn.addEventListener('click', () => {
    const title = writeForm['title'].value;
    const content = writeForm['content'].value;
    const name = writeForm['name'].value;
    const password = writeForm['password'].value;

    if(title === '') {
      alert('제목을 입력해주세요');
      return;
    };

    if(content === '') {
      alert('내용을 입력해주세요');
      return;
    };

    if(name === '') {
      alert('이름을 입력해주세요');
      return;
    };

    if(password === '') {
      alert('패스워드를 입력해주세요');
      return;
    };

    if(password.length !== 4) {
      alert('패스워드를 4자리 입력해주세요');
      return;
    };

    alert('게시글을 작성하셨습니다.')
    writeForm.submit();
  });

  detailActionBtnCotnainer.addEventListener('click', (e) => {
    if(e.target.tagName !== "BUTTON")
      return;    
    verifyModal.style.display = 'flex';
    verifyAction = e.target.innerText;
  })
  verifyCancelBtn.addEventListener('click', () => {
    verifyModal.style.display = 'none';
    verifyPassword.value = '';
  })

  verifyActionBtn.addEventListener('click', async () => {
    const postId = postDetailContainer.children['post-detail-title'].dataset.id
    const postPassword = verifyPassword.value

    if(postPassword === '') {
      alert('패스워드를 입력해주세요');
      return;
    }

    if(postPassword.length !== 4) {
      alert('패스워드를 4자리 입력해주세요');
      return;
    }

    if(verifyAction === '삭제') {
      const response = await fetch(`${SERVER_URL}/posts/${postId}`, {
        method: 'DELETE',
        headers: {
          'Content-Type' : 'application/json' ,
        },
        body: JSON.stringify({ password : postPassword })
      });

      if(response.ok) {
        const result = await response.json();
        alert(result.message);
        location.reload();
      } else {
        const error = await response.json();
        alert(error.message);
      }

      return;
    }

    if(verifyAction === '수정') {
      const response = await fetch(`${SERVER_URL}/posts/${postId}/check-permission`, {
        method: 'POST',
        headers: {
          'Content-Type' : 'application/json',
        },
        body: JSON.stringify({ password : postPassword }),
      });

      if(response.ok) {
        const result = await response.json();
        clearDetail();
        clearVerifyModal();
        writeFormContainer.style.display = 'block';
        writeForm.action = `/posts/${postId}?_method=PUT`;
        writeForm['title'].value = result['title'];
        const content = writeForm['content'].value = result['content'];
        const name = writeForm['name'].value = result['name'];
        const password = writeForm['password'].value = result['password'];
      } else {
        const error = await response.json();
        alert(error.message);
      }

      return;
    }
  })
  
</script>